@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home-section {
    position: relative;
    background: #fff;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    min-height: unset;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.content-section {
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    overflow-y: hidden;
}

.sidebar.open ~ .home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.profile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 20px;
}

.profile-nav a {
    color: #142850;
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 500;
    text-align: center;
    flex-grow: 1;
}

.profile-nav a.active {
    background-color: #f1f1f1;
    font-weight: bold;
    border-bottom: 3px solid #142850;
}

.profile-nav a:hover {
    background-color: #f1f1f1;
}

.caa-wrapper {
    width: 75%;
    height: calc(100vh - 0px);
    overflow-x: hidden;
    overflow-y: hidden;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 70px;
}

.form-wrapper {
    background-color: #fff;
    padding-bottom: 100px;
}

.form {
    background-color: #fff;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group .eventDate,
.form-group .tournamentDate {
    width: 30%;
}

label {
    display: block;
}

.amount-input,
select,
textarea,
input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #f1f4fb;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    background-color: #f1f4fb;
    color: #000;
    box-sizing: border-box;
}

.amount-input:focus,
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
    border: 1px solid black; 
}

.btn-primary,
.btn-secondary {
    background-color: #142850;
    border-color: #142850;
    padding: 6px 10px;
    font-size: 11px;
}

.btn-primary:hover,
.btn-secondary:hover {
    transition: background-color 0.1s ease;
    background-color: #397CF7;
    border-color: #397CF7;
}

.btn-primary i,
.btn-secondary i {
    margin-right: 5px;
}

button {
    padding: 8px 14px;
    background-color: #142850;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
}

button:hover {
    background-color: #397CF7;
}

.save-button-container {
    text-align: right;
    margin-top: 10px;
}

.save-button-container button {
    width: 15%;
    background-color: #142850;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 14px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.1s ease;
}

.save-button-container button:hover {
    background-color: #397CF7;
}

.float-right {
    float: right;
}

.image-preview {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.image-preview img {
    max-width: 200px;
    height: auto;
}

.image-preview button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-dialog {
    margin: 30vh auto;
}

.qualification-input {
    margin-top: 1%;
}

.input-with-button {
    position: relative;
    display: flex;
    align-items: center;
}

.input-with-button .form-control {
    padding-right: 30px;
}

.input-with-button .btn-danger {
    position: absolute;
    right: 7px;
    top: 40%;
    transform: translateY(-50%);
    padding: 0.2rem 0.4rem;
}

.other-container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.switch-container {
    display: flex;
    align-items: left;
    margin-bottom: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #142850;
}

input:focus + .slider {
    box-shadow: 0 0 1px #142850;
}

input:checked + .slider:before {
    transform: translateX(16px);
}

.slider.round {
    border-radius: 12px;
}

.slider.round:before {
    border-radius: 50%;
}

.fields {
    width: 30%;
    display: none;
    margin-bottom: 10px;
}

.fields.visible {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
