<body>
  <div class="main-content">
    <h1>Available Courts</h1>
    <!-- Search Bar -->
    <div class="search-container">
      <input type="text" id="search-input" placeholder="Search by address" />
      <button id="search-button">Search</button>
    </div>

    <div id="courts-container" class="courts-container"></div>
  </div>
  <button id="scrollToTopBtn" class="scroll-to-top-btn" style="display: none">↑</button>
  <div class="pagination" id="pagination-container">
    <button id="prevPage" class="pagination-btn">&#8249;</button>
    <span id="pagInfo">
      Page
      <span id="currentPage">1</span>
      of
      <span id="totalPages">1</span>
    </span>
    <button id="nextPage" class="pagination-btn">&#8250;</button>
  </div>
</body>
