<body>
  <div class="main-content">
    <h1>What would you like to do?</h1>
    <div class="icon-grid">
      <div class="icon-item">
        <a href="/user/reserve/court-list">
          <i class="fas fa-calendar-alt"></i>
          <p>Reserve Court</p>
        </a>
      </div>
      <div class="icon-item">
        <a href="/user/reserve/map-view">
          <i class="fas fa-map-marker-alt"></i>
          <p>View Court Map</p>
        </a>
      </div>
      <div class="icon-item">
        <a href="#">
          <i class="fas fa-bullhorn"></i>
          <p>View Announcements</p>
        </a>
      </div>
      <div class="icon-item">
        <a href="#">
          <i class="fas fa-building"></i>
          <p>View Community</p>
        </a>
      </div>
      <div class="icon-item">
        <a href="#">
          <i class="fas fa-id-badge"></i>
          <p>Membership</p>
        </a>
      </div>
      <div class="icon-item">
        <a href="#">
          <i class="fas fa-shopping-cart"></i>
          <p>Shop Now</p>
        </a>
      </div>
      <div class="icon-item">
        <a href="userScheduleReservation.html">
          <i class="fas fa-calendar-week"></i>
          <p>View Schedule</p>
        </a>
      </div>
      <div class="icon-item">
        <a href="/user/edit-profile">
          <i class="fas fa-user-edit"></i>
          <p>Edit Profile</p>
        </a>
      </div>
    </div>
  </div>
</body>
