@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #142850;
}

.container {
  width: 60%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.lower-content-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin-top: 100px;
  margin-left: 30px;
}

.text-content h1 {
  font-size: 70px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0px;
  margin-top: 160px;
}

.text-content h2 {
  font-size: 70px;
  font-weight: bold;
  color: #397cf7;
  margin-top: -20px;
}

.button-container {
  display: flex;
  margin-top: 30px;
}

.button-container {
  text-decoration: none;
}

.button-container button {
  font-size: 20px;
  font-weight: 400;
  height: 45px;
  width: 150px;
  border: 1px solid #fff;
  background-color: #142850;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
  transition: all 0.1s ease;
  z-index: 3;
  position: relative;
}

.button-container button:hover {
  background-color: #397cf7;
  border: 1px solid #397cf7;
  transform: scale(1.05);
}

.description-container h5 {
  margin-top: 50px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .logo-container img {
    width: 100px;
    margin-top: 10px;
  }

  .title-container h2 {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .button-container {
    margin-top: 15px;
  }

  .button-container button {
    width: 100px;
    padding: 8px 10px;
    font-size: 14px;
    margin: 5px;
  }

  .description-container h5 {
    margin-top: 20px;
  }

  .courtreg p {
    width: 90%;
  }
}

.container {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;
}

.upper-content-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-left: 60px;
  box-sizing: border-box;
}

.logo-container img {
  width: 80px;
  height: auto;
  max-width: 100%;
  margin-right: 10px;
}

.title-container h2 {
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  width: 200px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.lower-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  margin-top: 20px;
  margin-left: 30px;
}

.img-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 700px;
  height: 100%;
}

.img-container img {
  width: 100%;
  height: 110%;
}

.description-container h5 {
  margin-top: 50px;
  text-align: center;
}
